<!-- app/templates/base.html -->

{% extends "bootstrap/base.html" %}

{% block title %}ByTaiwan{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}"/>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}

    <div class="row">

    <div class="footer text-center">
    <p>
    <p>
		<div style='border-bottom:1px solid #ccc;'></div>
		    <p></p>
			<p></p>

			<SPAN class="text-left" STYLE="float:left">
			    <p>
				<li>About ByTaiwan.me</li>
				<li>How to buy</li>
				<li>Online help</li>
				<li>Login</li>
				<li>Sign up</li>
			    </p>
			</SPAN>

	</div> 
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}