<!-- app/templates/base.html -->
<html>
{% extends "bootstrap/base.html" %}

{% block head %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
{% endblock %}
<body
{% block content%}
	<div class="container">
			<div class="row justify-content-center">
				<div class="col-xs-12 col-sm-12">
					<h3>PV Generation Alert</>
				</div>
	</div>
	<div class="container">
			<div class="row justify-content-center">
				<div class="col-xs-6 col-sm-6">
 					<h4>Aleart Switch On/Off</>
 				</div>
 				<div class="col-xs-6 col-sm-6">	
					<label style="float:right" class="switch">
				      <input type="checkbox">
				    <span class="slider"></span>		      
				</div>
			</div>
	        </div>
	</div>
<div>

<div class="container">
    <p>
   	<div style='border-bottom:1px solid #ccc;'></div>
   	<p>
    {% block page_content %}{% endblock %}
    <div style='border-bottom:1px solid #ccc;'></div>
</div>
{% endblock %}
</body>
</html>
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}