<!-- app/templates/index.html -->

{% extends "top.html" %}

{% block page_content %}
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet" />
	<title>PV Notification Setting</title>
</head>
{% if devices.all() %}
{% if device.model == 'SolarPW' %}
<div class="container">
{% for device in devices.all() %}
	<div class="row" style="border:10px white dashed;">
				<div class="col-xs-12 col-sm-12 device-border" style="border-width:0.5px;border-style:solid;border-color:#BBBCBCB8;padding:5px;">
						<div class="row">
							<div class="col-xs-3" style="font-size:25px;">
								<img class='device-icon' src="{{ url_for('static', filename='img/icon_Active.png') }}" >		
							</div>
							<div class="device-name" style="font-size:25px;"><p>{{ device.name }}</p></div>							
							<div class="col-xs-2 col-sm-2">
								<a class='setting-button' href="{{ url_for('main.publish_setting', userid=userid , uuid = device.uuid, redirect_app=redirect_app)}}">
									<img src="{{ url_for('static', filename='img/Vector.png') }}" width="6" height="20" >			
								</a>
							</div>
						</div>
						
						<div class='notif-status'>
							<span>Notification</span>
	
							{% if device.notify == "OFF" %}	
		 						<div style="font-size:25px;color:#E15A5A" >
									 OFF
								</div>
							{% else %}
								<div style="font-size:25px;color:#5EA76E" >
									 ON
								</div>
							{% endif %}
						</div>
				</div>
	</div>
{% endif %}
{% endfor %}	
</div>
{% endif %}
{% endblock %}