<!-- app/templates/index.html -->
{% extends "top.html" %}
{% block page_content %}
<script>
	window.addEventListener('load', function () {
		setTimeout(function(){
			gsap.to(".loading", {
		        duration: 0.2,
		        opacity: 0,
		        onComplete: function(){$('.loading').css("display","none");}
		    }).play();
		}, 300);
	});
</script>
{% if no_device(devices.all()) %}
<div class="container">
{% for device in devices.all() %}
{% if device.model == 'Delta_RPI-M10A' %}
	<div class="row" style="border:10px white dashed;">
		<div class="col-xs-12 col-sm-12 device-border" style="border-width:0.5px;border-style:solid;border-color:#BBBCBCB8;padding:5px;">
			<div class="row">
				<div class="col-xs-3" style="font-size:25px;">
					<img class='device-icon' src="{{ url_for('static', filename='img/icon_Active.png') }}" >		
				</div>
				<div class="device-name" style="font-size:23px;"><p>{{ display_device_name(device) }}</p></div>						
				<div class="col-xs-2 col-sm-2">
					<a class='setting-button' href="{{ url_for('main.publish_setting', userid=userid , uuid = device.uuid, redirect_app=redirect_app)}}">
						<img src="{{ url_for('static', filename='img/Vector.png') }}" width="6" height="20" >			
					</a>
				</div>
			</div>
			<div class="instanceElectricity">
				<span>瞬時產電</span>
				<p>{{ get_instanceElectricity(device.uuid) }} kWh</p>
			</div>
			<div class="additional-info additional-info-1">
				<div class='info-col-1'>
					<span>當日總發電量</span>
					<p>{{ get_generatedElectricity(device.uuid) }} kWh</p>
					<span>本週總發電量</span>
					<p>{{ get_weeklygenElec(device) }} kWh</p>
				</div>
				<div class='info-col-2'>
					<span>昨日總發電量</span>
					<p>{{ get_yesterdaygeneratedElectricity(device.uuid) }} kWh</p>
					<span>當月總發電量</span>
					<p>{{ get_monthlygenElec(device) }} kWh</p>
				</div>
				<div class='info-col-3'>
					<span>通　知</span>
					{% if device.notify == "OFF" %}	
						<p style="color:#E15A5A">OFF</p>
					{% else %}
					<p style="color:#5EA76E">ON</p>
					{% endif %}
					<span>告警差異值</span>
					<p>{{ get_grpLowerBound(device) }}</p>
				</div>
			</div>			
		</div>
	</div>
{% endif %}
{% endfor %}	
</div>
{% endif %}

<div class="loading">
	<div class="loadingio-spinner-rolling-pu3e71b2nko"><div class="ldio-of15j30uy2">
		<div></div>
	</div></div>
</div>
</body>
</html>
{% endblock %}