<!-- app/templates/index.html -->

{% extends "base.html" %}

{% block page_content %}
<div class="container">
<div class="row">
		<div class="col-xs-12 col-sm-12" style="border-width:0.5px;border-style:solid;border-color:#BBBCBCB8;padding:5px;">
					<label style="float:right" class="switch">
				      <input type="checkbox">
				    <span class="slider"></span>		    
		<p>
	</div>
	<p>
		<div class="col-xs-12 col-sm-12" style="border-width:0.5px;border-style:solid;border-color:#BBBCBCB8;padding:5px;">
					<label style="float:right" class="switch">
				      <input type="checkbox">
				    <span class="slider"></span>		      
		<p>
	</div>
	<p>
		<div class="col-xs-12 col-sm-12" style="border-width:0.5px;border-style:solid;border-color:#BBBCBCB8;padding:5px;">
					<label style="float:right" class="switch">
				      <input type="checkbox">
				    <span class="slider"></span>		      
		<p>
	</div>
</div>
</div>
{% endblock %}