<!-- app/templates/index.html -->

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
	<link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet" />
	<script src="{{ url_for('static', filename='js/setting.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
	<title>PV Notification Setting</title>
</head>

<body>
<form action=''>
	<div class = 'header'>
		<button class = 'return-button' onclick="window.location.href='/hello'"><img src="{{ url_for('static', filename='img/arrow left.png') }}" width="15" height="15" border="0"></button>
		<input type='submit' class='save-button'>
	</div>
	{% for device in device_info %}
	<div class='title'>QA PV System</div>
	<div class='contaniner'>
		<div class='settings'>
			<div id ='notif'>
				<span>Notification</span>
				<label for='notification' class="switch">
			      <input type="checkbox" id='notification'>
			    <span class="slider"></span>		      
			</div>
			<div class='option goal'>
				<label for='goal'>Goal</label>
				<div><input type="number" id='goal' name ='goal' class='goal-value' value={{ device.target_energy_level }} onKeyPress="if(this.value.length==4) return false;" onblur="verify_value()"><span class='unit'>kWh</span></div>
			</div>
			<div class='hint'> Please enter a number between 1~9.999 kWh.</div>
			<div class='option' id='bound'>
				<label for='lower_bound'>Lower Bound</label>
				<div><input type='number' id='lower_bound' class='bound' value={{ device.lower_bound }}><span class='unit'>%</span><img src="{{ url_for('static', filename='img/chevron-right.png') }}"></div>
			</div>
			<div class='option' id='start'>
				<label for='start_time'>Starting Time</label>
				<div><input type='number' id='start_time' class='start' value={{ device.start_time }} >&nbsp;: 00</div>
			</div>
			<div class='option' id='end'>
				<label for='end_time'>End Time</label>
				<div><input type='number' id='end_time' class='end' value={{ device.end_time }} >&nbsp;: 00</div>
			</div>
		</div>
	</div>
	<div class='pop-up bound' >
		<div class='pop-up-bg'>
			<span id='bound'>Done</span>
			<div class='picker'>
				<ul class='picker-list' id='bound'></ul>
				<div class='picker-blur-top'></div>
				<div class='picker-focus'></div>
				<div class='picker-blur-bottom'></div>
			</div>
		</div>
	</div>
	<div class='pop-up start'>
		<div class='pop-up-bg'>
			<span id='start'>Done</span>
			<div class='picker'>
				<ul class='picker-list' id='start'></ul>
				<div class='picker-blur-top'></div>
				<div class='picker-focus'></div>
				<div class='picker-blur-bottom'></div>
			</div>
		</div>
	</div>
	<div class='pop-up end'>
		<div class='pop-up-bg'>
			<span id='end'>Done</span>
			<div class='picker'>
				<ul class='picker-list' id='end'></ul>
				<div class='picker-blur-top'></div>
				<div class='picker-focus'></div>
				<div class='picker-blur-bottom'></div>
			</div>
		</div>
	</div>
	{% endfor %}
	
</form>
</body>

