<!-- app/templates/base.html -->
<html>
{% extends "bootstrap/base.html" %}

{% block head %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
<body>
{% block content%}
	<div class="banner">
		<a class='return-button' href="{{redirect_app}}"><img src="{{ url_for('static', filename='img/arrow left.png') }}"></a>
	</div>
	<div class="container2">
				<div class="col-xs-12 col-sm-12 title">
					通知方法設定
				</div>
				{% if no_device(devices.all()) %}
				<div class="col-xs-9 col-sm-9 sub-title">通知  OFF/ON
					{% for user in user_info.all() %}
					
					
						{% if user.notify_all == "ON" %}
						<label class="switch" style="float:right">
				      	<input type="checkbox" onclick="task(this)" checked/>
				    	<span class="slider"></span>	
						{% else %}
						<label class="switch" style="float:right">
				      	<input type="checkbox" onclick="task(this)"/>
				    	<span class="slider"></span>	
						{% endif %}
					
					{% endfor %} 
					<script>
					  var url = "{{ url_for('main.update_notify_all', userid=userid , status="ON") }}"
					</script>
				{% else %}	
				<div class='no-device'>
					<div class='no-device others'>
					<img src="{{ url_for('static', filename='img/Nonactive.png') }}">
					<p class='no-deive-text'>尚無配對的太陽能板。<br/>請先完成裝置的配對。</p> 
					</div>
				</div>
 				{% endif%}
				
				</div>
	</div>

<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
</body>
</html>
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script type=text/javascript>
	function task(e){
		if (e.checked){
			///console.log("1");
			url = url.replace('OFF', 'ON')
			userAction();
			
		} else {
			///console.log("0");
			url = url.replace('ON', 'OFF')
			userAction();
		}
	}
	
	function userAction(){

	///console.log(url);
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", url, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
	}
</script>
{% endblock %}